body {
    z-index: 10;
    margin: 0 0 0 0;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 21px;
    background: url("../img/music.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
}

header {
    z-index: 1;
    background: white;
    position: fixed;
    width: 100%;
    max-height: 73px;
    top: 0;
    margin: 0 0 0 0;
}

.image1 {
    float: left;
}

.cl {
    margin-top: 3px;
    padding-left: 0px;
    font-size: 60px;
    font-family: 'Nanum Gothic', serif;
    text-decoration: none;
    width: 760px;
    color: #009E28;
}

.header1 {
    display: flex;
    text-align: left;
}

.image img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.image {
    flex: 2;
}

.navbar ul li {
    display: inline;
    margin-right: 15px;
    color: black;
}

.navbar ul li a {
    color: black;
}

.navbar ul li a:hover {
    color: green;
}

.navbar ul {
    width: 400px;
}

a:hover {
    color: #ADF1D2;
}

ul a {
    color: white;
}

.navbar {
    width: 600px;
    flex: 1;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
}


.textsection {
    background: url(../img/au.jpg) no-repeat;
    background-size: 1000px 460px;
    font-size: 50px;
    text-align: center;
    margin: auto;
    font-family: 'Pacifico', cursive;
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 10px;
    height: 460px;
    width: 1000px;
    border-radius: 5px;
    color: yellow;
    padding-bottom: 10px;
}

.textsection img {
    float: left;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.textsection p {
    margin-top: 85px;
    float: left;
    font-size: 17px;
    color: black;
    font-family: 'Pacifico', cursive;
    padding-top: 100px;
}

h3 {
    margin-top: 10px;
}

.change {
    margin-top: 100px;
    font-size: 30px;
    font-family: 'Rammetto One', cursive;
    color: white;
}

.tsec1 {
    flex: 1;
    background: transparent;
}

.m {
    background: url("../img/background.jpg") no-repeat;
    margin-top: 10px;
    background-size: cover;
    position: absolute;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
}

.columnlayout {

    text-align: center;
    display: flex;
    padding: 20px;
    height: 500px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.callout {
    flex-basis: 30%;
    color: white;
    margin-top: 20px;
}

.callout:nth-child(1) {
    font-size: 30px;
    color: black;
    box-shadow: 0 5px 5px 0px black;
    background: url("../img/bang.jpg") no-repeat;
}

.callout:nth-child(2) {
    font-size: 30px;
    color: black;
    box-shadow: 0 5px 5px 0px black;
    background: url("../img/bang.jpg") no-repeat;
}

.callout:nth-child(3) {
    font-size: 30px;
    color: black;
    box-shadow: 0 5px 5px 0px black;
    background: url("../img/bang.jpg") no-repeat;
}

.callout a {
    color: black;
    text-decoration: none;
}

.callout ul li {
    list-style: none;
}

.foot {
    position: absolute;
    margin-top: 590px;
    background: #231942;
    width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex: 1;
}

.foot1 {
    flex: 1;
    align-content: flex-end;
    margin: auto auto;
    padding-left: 520px;
    padding-bottom: 0px;
}

.foot a {
    color: white;
}

.foot a:hover {
    color: black;
}

.foot1 ul li {
    display: inline;
    padding-right: 40px;
}

.foot1 ul li a {
    text-decoration: none;
    color: white;
    padding: 0px;
    font-size: 35px;
}

.heads {
    color: Black;
    background: transparent;
    border-radius: 50px;
    margin-top: 50px;
    font-family: 'Lobster', cursive;
    margin-bottom: 0px;
    height: 70px;
    text-align: center;
    margin-top: 0px;
    font-size: 60px;
}

.para {
    margin: auto auto;
    width: 600px;
}

.foot1 ul li a:hover {
    color: green;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
}

h5 {
    text-indent: -20000px;
    margin-top: 0px;
    margin-bottom: 0px;
}

aside {
    margin-top: 0px;
}

ul li {
    margin-top: 0;
}

.in {
    text-indent: -999999px;
    position: absolute;
}

.callout p {
    font-family: 'Rammetto One', cursive;
}

.callout a:hover {
    color: green;
}

.fa {
    color: white;
}
.news{
    background: url(../img/back.jpg) no-repeat center;
    display: flex;
    width: 100%;
    height: 400px;
    padding-bottom: 10px;
}
.col1{
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.col2{
    float: right;
    flex: 1;
}
.col1,.col2 ul li{
    list-style: none;
}
#in{
    text-indent: -9999px;
}
.col2 ul li a{
    color: black;
    text-decoration: none;
}
.col2 ul li a:hover{
    color: green;
}
.col1 ul{
    list-style: none;
}
.x1{
    align-self: flex-start;
    box-shadow: 0 2px 5px 0 black;
    max-height: 50px;
    padding: 35px;
    font-size: 30px;
    justify-content: center;
    padding-right: 100px;
    margin-left: 120px;
    width: 245px;
    padding-left: 100px;
}
.x1 a{
    text-decoration: none;
    color: black;
}
.x1 a:hover{
    color: green;
}
.news h3{
    font-size: 40px;
}
#change{
    margin-bottom: 0px;
}
.hhh{
    position: absolute;
    text-indent: -9999px;
}